AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=

AWS_BUCKET=app.mozork.com
AWS_REGION=ap-southeast-1
AWS_DISTRO_ID=E1GXVB58NJXJTB

REACT_APP_API_URL=https://api.dev.mozork.com
REACT_APP_SOCKET_TRANSPORTS=websocket,polling
REACT_APP_RECAPTCHA_KEY=6LeoArEbAAAAAJorJDCQyjhdXqaXMSX7ji7VhiSm
ESLINT_NO_DEV_ERRORS=true
WEBSITE_URL=https://develop.investax.io

SING_PASS_AUTH_URL=https://sandbox.api.myinfo.gov.sg/com/v3/authorise
SING_PASS_CLIENT_ID=STG-201300459N-ICSG-INVESTAXREGN
SING_PASS_REDIRECT_URL=https://dev.mozork.com/auth/sign-up
SING_PASS_ATTRIBUTES=uinfin,name,sex,nationality,dob,email,mobileno,regadd,occupation,noahistory
REACT_APP_GAS=low
