# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



bfg.jar
# dependencies
/node_modules
/.pnp
.pnp.js
.idea/

# testing
.scannerwork
coverage
reports

# production
/build

# flow build
/lib

# misc
.DS_Store
.env

yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
cloudfront-cache
.eslintcache
