bfg.jar
# dependencies
/node_modules
/.pnp
.pnp.js
.idea/
.vscode/
.log

# testing
.scannerwork
coverage
reports
storages/
documents/
__tests__/lib/metamask/
__tests__/lib/metamask.zip
.history
allure-results/
# production
/build

# flow build
/lib

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
cloudfront-cache
.eslintcache
