@import '~inter-ui';
@import '~@reach/dialog/styles.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  * {
    font-family: 'Inter', sans-serif;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body > iframe {
  pointer-events: none;
}

button {
  user-select: none;
}

html {
  min-height: 100%;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #0d0415;
  }
}
@media (prefers-color-scheme: light) {
  html {
    background-color: #f7f8fa;
  }
}

body {
  scrollbar-color: rgba(237, 206, 255, 0.1) transparent;
}

/* Adjust native scrollbars */
::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-clip: content-box;
  border: 4px solid rgba(237, 206, 255, 0.1);
  min-height: 40px;
}
::-moz-scrollbar {
  background: transparent;
}

::-o-scrollbar {
  background: transparent;
}

@media only screen and (max-width: 400px) {
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

.lazy-load-image-background {
  background-size: 48px 48px !important;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50px;
}

.recharts-tooltip-item-name {
  text-transform: capitalize;
  color: #8f8fb2;
  font-size: 14px;
  font-weight: 500;
}

.recharts-tooltip-item-value {
  color: #292933;
  font-size: 14px;
  font-weight: 500;
}

#webpack-dev-server-client-overlay {
  display: none;
}
