name: Integration Tests

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development
      - ci-update

jobs:
  integration-tests:
    name: Integration Tests
    env:
      METAMASK_RECOVERY: ${{ secrets.METAMASK_RECOVERY }}
      METAMASK_PASSWORD: ${{ secrets.METAMASK_PASSWORD }}
      METAMASK_PRIVATE_KEY: ${{ secrets.METAMASK_PRIVATE_KEY }}
    runs-on: ubuntu-latest # or macos-latest, windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up node
        uses: actions/setup-node@v2
        with:
          node-version: 14.17
          registry-url: https://registry.npmjs.org
      - name: create .npmrc file
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc
      - run: yarn
      - run: npx playwright install
      # - run: CI=false yarn build
      - run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - run: yarn integration-test

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: my-artifact
          path: ./e2e_tests/test-results
