name: Integration Tests

# on:
#   push:
#     branches:
#       - main
#       - development
#       - staging
#   pull_request:
#     branches:
#       - main
#       - development
#       - staging
#       - ci-update
on: [push]
# on:
#   deployment_status:
#     branches: [staging,develop]

jobs:
  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest # or macos-latest, windows-latest
    # if: github.event.deployment_status.state == 'success' 
    steps:
      - uses: actions/checkout@v2
      - name: Set up node
        uses: actions/setup-node@v2
        with:
          node-version: 14.17

      - name: Set tests dependencies
        run: npx playwright install-deps
      - run: npx playwright install
      - run: yarn
      - run: CI=false yarn build
      - run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Run Tests
        working-directory: ./__tests__
        run: | 
          echo $PWD
          yarn integration-test
          npx playwright test --reporter=line,allure-playwright
        env:
        # This might depend on your test-runner/language binding
          PLAYWRIGHT_TEST_BASE_URL: ${{ github.event.repo.name }}
          ENVIRONMENT_URL: ${{ env.REACT_APP_API_URL }} 

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: my-artifact
          path: ./__tests__

