name: Integration Tests

on:
  push:
    branches: 
      - e2e-edit-identity

  pull_request:
    branches: 
      - staging
    types: 
      - closed 
     
jobs:
  integration-tests:
    if: github.event.pull_request.merged == true || github.event_name == 'push'
    name: Integration Tests
    runs-on: ubuntu-latest # or macos-latest, windows-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - name: Set up node
        uses: actions/setup-node@v2
        with:
          node-version: 14.17

      - name: Set tests dependencies
        run: yarn
      - name: Run Integration Tests
        env:
          GH_REP: ${{github.ref}}
          ALLURE_RESULTS_DIR: "reports/allure-results"
        run: yarn integration-test
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: my-artifact
          path: ./reports

