name: Integration Tests

on:
  push:
    branches:
      - main
      - development
      - staging
  pull_request:
    branches:
      - main
      - development
      - staging
      - ci-update

jobs:
  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest # or macos-latest, windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up node
        uses: actions/setup-node@v2
        with:
          node-version: 14.17
          registry-url: https://registry.npmjs.org
      - name: create .npmrc file
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc
      - run: npx playwright install-deps
      - run: npx playwright install
      - run: yarn
      # - run: CI=false yarn build
      - run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      - run: yarn integration-test

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: my-artifact
          path: ./e2e_tests
